.bottomBtn{
  margin-bottom: 1%;
  margin-top: 1%;
}

.cardBtn1{
  margin-left: 15%;
  margin-bottom: 1%;
  margin-top: 0.5%;
}
.cardBtn{
  margin-left: 1%;
  margin-bottom: 1%;
  margin-top: 0.5%;
}
