#messageInput {
  background-color: #656565;
  border-radius: 30px;
  padding: 50px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-top: 20px
}

#button {
  border-radius: 55px;
  margin-right: 12px;
}

#textCard {
  transform: scale(0.8);
}
